.base {
    display: flex;
}

.sideMenu {
}

.sideMenuClosed {
    composes: closed from "../../components/layout/base.css"
}

.list {
    width: 280px;
    height: calc(100vh - 45px);
    border-right: 1px solid #CCC;
    overflow: auto;
}

.listHeader {
    padding: 10px 5px 10px 5px;
    height: 100px;
    box-sizing: border-box;
}

.main {
    flex: 1;
    width: 0;
}

.search {
    padding-top: 10px;
    padding-bottom: 10px;
}

.filterType ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filterType li {
    margin: 0;
    /*padding: 0;*/
    display: inline-block;
    padding-right: 2px;
}

.filterType li > a {
    padding: 4px;
}

.filterType li.isSelected > a {
    color: #FFF;
    background-color: #2673E8;
    font-weight: bold;
}